.tm,.tm2,.structtd{
  font-size:8pt;width:auto;text-align:center;
  white-space: nowrap; padding:0px !important; 
} 

.maintbl td:not(.tm):not(.structtd),.maintbl th:not(.tm2){
  vertical-align:middle !important; text-align:center; width:80%
}

.table>tfoot>tr>td.tm{
  padding:0px;
}
td{
  border-style: solid;
  border-width:1px;
  border-color: black;
  text-align: center;
  
}

th{
  text-align:center !important;
  width:0px;
  display: table-cell;
  padding:8px;
  border-style: solid;
  border-width:1px;
  border-color: black;

}

.structtd{
  width:0%;padding:0px !important; border:0px;
}
td:hover {
background-color: rgba(37, 253, 8, 0.22);
}
.dangerRem{
  background-color:rgba(255, 0, 0, 0.46);
}
.softDanger{
  background-color:rgba(255, 0, 0, 0.20);
}

body {
  font-family: 'Lato', sans-serif;
  background-color: white;
  padding-top:120px;
}

#overlay {
display: none;
margin-bottom: 20vh;
}

.table-div{
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

table{
  border-spacing:2px;
  text-align: center;
  margin-left: 10rem;
  margin-right: 10rem;

  width: 40vw
}



